JG_Prospect-New/JG_Prospect.web/Sr_App/Customer_Profile.aspx
*.pdb
JG_Prospect-New/JG_Prospect.web/obj/Debug/JG_Prospect.web.csprojResolveAssemblyReference.cache
*.dll
*.dll
*.pdb
*.cache
*.cache
JG_Prospect-New/JG_Prospect.DAL/obj/Debug/JG_Prospect.DAL.csproj.FileListAbsolute.txt
*.suo
*.config
JG_Prospect-New/JG_Prospect.v12.suo
*.dll
JG_Prospect-New/JG_Prospect.BLL/bin/Debug/JG_Prospect.BLL.pdb
*.pdb
JG_Prospect-New/JG_Prospect.web/obj/Debug/JG_Prospect.dll
*.pdb
*.pdb
JG_Prospect-New/JG_Prospect.web/obj/Debug/JG_Prospect.pdb
JG_Prospect-New/JG_Prospect.web/obj/Debug/JG_Prospect.pdb
*.dll
JG_Prospect-New/JG_Prospect.BLL/bin/Debug/JG_Prospect.BLL.dll