################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JG_Prospect-New
JG_Prospect-New/JG_Prospect.web/Sr_App/Controls/TaskGenerator.ascx
*.ascx
JG_Prospect-New/JG_Prospect.web/Sr_App/Controls/TaskGenerator.ascx
